body {
  background-color: #838b73;
}

h1,
p {
  text-align: center;
}
img {
  display: block;
  border-radius: 10px;
  border: 3px solid #570e10;
  margin: 30px auto;
  max-width: 600px;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  color: #570e10;
  margin: 10px;
}
