body {
  background-color: rgb(147, 143, 43, 0.9);
}

h1,
p {
  text-align: center;
}
img {
  display: block;
  border-radius: 10px;
  border: 3px solid #460d11;
  margin: 30px auto;
  max-width: 600px;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  color: #460d11;
  margin: 10px;
}
